<div class="conteiner">
    <form class="example-form">
        <mat-form-field class="example-full-width">
            <mat-label>Haber başlıklarında ara...</mat-label>
            <input matInput (keyup)="searchTitle($event)">
        </mat-form-field>
    </form>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef> Başlık </th>
            <td class="title-hover" mat-cell *matCellDef="let o " (click)="DisplayDescription(o)" [ngClass]="{
                'readHead': getItems(o)
              }">
                {{o.title}}

            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>