.example-form {
    margin-top: 20px;
    width: 100%;
  }
  
  .example-full-width {
    width: 80%;
    
  }
table{
    width: 80%; 
}

.conteiner{
 margin-left: 200px;
 padding: auto;
}

.title-hover:hover{
  text-decoration: underline;
  cursor: pointer;
}
.readHead{
  text-decoration: line-through;
  color:#A9A9A9;
}
